html {
    font-size: 62.5%;
}

body {
    color: white;
    background: #2d2d2d;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

a {
    color: #abffbd;

    &.is-active {
        font-weight: bold;
    }
}
